Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.52.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: ['terraform']
    exclude: \.terraform\/.*$
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    pass_filenames: true
    require_serial: true
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.4.0
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-lint
  - id: go-imports
  - id: go-cyclo
    args: [-over=15]
  - id: go-unit-tests
  - id: go-build
  - id: go-mod-tidy
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v0.8.3
  hooks:
  - id: go-critic
    args: [-disable, "#experimental,sloppyTypeAssert"]
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.7.2
  hooks:
  - id: shellcheck
    exclude: ".*tpl"
- repo: https://github.com/ansible-community/ansible-lint.git
  rev: v5.3.2  # https://github.com/ansible-community/ansible-lint/releases/
  hooks:
  - id: ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.17.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.5
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]

Added new TKFE lock file to git ignore
  community/front-end/.gitignore
Due: none

Update links and fix a typo in controller-v5 README
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
Due: terraform-readme

Add test_config for simple v5 cluster with no login
  tools/validate_configs/test_configs/hpc-cluster-small-slurm-v5.yaml
Due: none

Add slurm-gcp v5 partition module
  community/modules/compute/SchedMD-slurm-on-gcp-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  modules/README.md
Due: terraform-readme

Restructured and rewritten deploy script. Now in a more logical order with added robustness and features (hidden password entry, expert option)
  community/front-end/deploy.sh
Due: none

Housekeeping - added log files to git ignore
  community/front-end/.gitignore
  community/front-end/deploy.sh
Due: none

New destroy script. Wraps terraform destroy. Can expand in future to release all resources spun up from FrontEnd.
  community/front-end/destroy.sh
Due: none

Fix Cloud Build Filestore cleanup
  tools/clean-filestore-limit.sh
  tools/cloud-build/project-cleanup.yaml
Due: none

Added extra checking to deploy script. Few minor fixes.
  community/front-end/deploy.sh
  community/front-end/destroy.sh
Due: none

Update Batch blueprint to use automatically generated instance template
  community/examples/cloud-batch.yaml
Due: none

Update Batch job module to automatically generate instance template
  community/modules/scheduler/cloud-batch-job/README.md
  community/modules/scheduler/cloud-batch-job/main.tf
  community/modules/scheduler/cloud-batch-job/variables.tf
Due: terraform-readme

Reduce scopes on Batch service account
  community/modules/scheduler/cloud-batch-job/README.md
  community/modules/scheduler/cloud-batch-job/variables.tf
Due: terraform-readme

Add separate instance template example to documentation
  community/modules/scheduler/cloud-batch-job/README.md
Due: none

Update minimum Packer release
  README.md
  modules/packer/custom-image/versions.pkr.hcl
Due: packer-readme

Add strict positional arguments checking to the create and expand subcommands.
  cmd/create.go
  cmd/expand.go
Due: none

Major update to documentation. Admin Guide split into sections. Reformatting, corrections and additions added to help readbility.
  community/front-end/README.md
  community/front-end/docs/Applications.md
  community/front-end/docs/CompletePermissions.md
  community/front-end/docs/Workbench.md
  community/front-end/docs/admin_guide.md
Due: none

Renamed destroy.sh to teardown.sh Aligns better with documentation, and also means 'deploy' and 'destroy' scripts have significantly different names.
  community/front-end/deploy.sh
  community/front-end/teardown.sh
Due: none

Update to CFT cloud-router module 2.0
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
Due: terraform-readme

Add secondary_ranges input support for VPC module
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
  modules/network/vpc/variables.tf
Due: terraform-readme

Address feedback: updated variable description
  community/modules/scheduler/cloud-batch-job/README.md
  community/modules/scheduler/cloud-batch-job/variables.tf
Due: terraform-readme

fix: install_nfs_client_runner was using 'content' instead of 'source'
  community/modules/file-system/nfs-server/main.tf
  modules/file-system/filestore/main.tf
Due: terraform-readme

Update partition default for consistency
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  modules/README.md
Due: terraform-readme

Support custom firewall rules
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
  modules/network/vpc/variables.tf
Due: terraform-readme

Improve VPC module documentation
  modules/network/vpc/README.md
Due: none

Add slurm-gcp v5 login node module
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  modules/README.md
  tools/validate_configs/test_configs/hpc-cluster-small-slurm-v5.yaml
Due: terraform-readme

Add separate instance template example to test_configs
  community/modules/scheduler/cloud-batch-job/README.md
  tools/validate_configs/test_configs/cloud-batch-cft-instance-template.yaml
Due: none

Address bug in Shared VPC Filestore blueprint
  community/examples/hpc-cluster-small-sharedvpc.yaml
  modules/network/pre-existing-vpc/README.md
  modules/network/pre-existing-vpc/outputs.tf
  modules/network/vpc/README.md
  modules/network/vpc/outputs.tf
Due: terraform-readme

Create basic batch login node module which transfers Batch job to VM
  community/modules/scheduler/cloud-batch-login-node/README.md
  community/modules/scheduler/cloud-batch-login-node/main.tf
  community/modules/scheduler/cloud-batch-login-node/variables.tf
  community/modules/scheduler/cloud-batch-login-node/versions.tf
Due: terraform-readme

Add outputs to Batch job to be consumed by Batch login node
  community/modules/scheduler/cloud-batch-job/README.md
  community/modules/scheduler/cloud-batch-job/outputs.tf
Due: terraform-readme

Add output instructions to login and submit on Batch login node
  community/modules/scheduler/cloud-batch-job/README.md
  community/modules/scheduler/cloud-batch-job/outputs.tf
  community/modules/scheduler/cloud-batch-login-node/README.md
  community/modules/scheduler/cloud-batch-login-node/outputs.tf
  community/modules/scheduler/cloud-batch-login-node/variables.tf
Due: terraform-readme

Batch login node pre-pends startup script from Batch job
  community/modules/scheduler/cloud-batch-login-node/README.md
  community/modules/scheduler/cloud-batch-login-node/main.tf
Due: terraform-readme

Update Cloud Batch example to use Batch login node
  community/examples/cloud-batch.yaml
Due: none

Address feedback
  community/modules/scheduler/cloud-batch-job/README.md
  community/modules/scheduler/cloud-batch-job/main.tf
  community/modules/scheduler/cloud-batch-job/outputs.tf
  community/modules/scheduler/cloud-batch-job/variables.tf
  community/modules/scheduler/cloud-batch-login-node/README.md
  community/modules/scheduler/cloud-batch-login-node/main.tf
  community/modules/scheduler/cloud-batch-login-node/outputs.tf
  community/modules/scheduler/cloud-batch-login-node/variables.tf
Due: terraform-readme

Clarify controller_instance_id descriptions
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

Improve consistency in slurm-gcp v5 modules
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  tools/validate_configs/test_configs/hpc-cluster-small-slurm-v5.yaml
Due: terraform-readme

Add documentation for Cloud Batch modules
  community/examples/README.md
  community/modules/scheduler/cloud-batch-job/README.md
  community/modules/scheduler/cloud-batch-login-node/README.md
  examples/README.md
  modules/README.md
Due: none

Address feedback
  community/examples/cloud-batch.yaml
  community/modules/scheduler/cloud-batch-login-node/README.md
  examples/README.md
Due: none

Adding documentation page dedicated to Cloud Batch support
  docs/cloud-batch.md
Due: none

Fix Filestore cleanup
  tools/clean-filestore-limit.sh
Due: none
